.DS_Store

/.screenshots
/.test

/data/layouts

__qsscache__
__pycache__

# /engine/.build/
# /engine/.vs/

*.sublime-project
*.sublime-workspace

!/.support/sublime_addon/*.sublime-project

prefs.db
BUILD_RESULT
